* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #54bd95;
  --secondary-color: #191a15;
  --text-color: #a6a6a6;
  --yellow-color: #ffc728;
  --offwhite-color: #f9f8fe;
  --card-color: #f9fafb;
}

.home {
  background-image: linear-gradient(
    135deg,
    #d8efea 0%,
    #ffffff 50%,
    #e4f1ea 100%
  );
}

.text {
  color: var(--text-color) !important;
}

.green {
  color: white !important;
  background-color: var(--primary-color) !important;
}

.btns-media {
  display: none;
}

/* features */
.features {
  background-image: linear-gradient(to right, #ffd6d63a, #fff);
}

/* reached */
.reached {
  background-color: var(--offwhite-color);
}

.reached img {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 9px 0px #0000000d;
}

.check {
  background-color: var(--primary-color);
}

.plans {
  background-image: linear-gradient(90deg, #fff, #54be9521);
}

.list ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.list ul li {
  padding: 10px;
}
/* billing */
.bill {
  box-shadow: 0px 4px 9px 0px #0000000d;
  width: 220px;
}
.prices {
  background: none !important;
  border: none !important;
}
.card1 {
  background-color: var(--card-color);
  border: none !important;
}
.price-btn {
  color: var(--primary-color) !important;
  background-color: white !important;
  box-shadow: 0px 4px 9px 0px #0000000D;

}

@media screen and (max-width: 991px) {
  .btns-media {
    display: block;
  }
  .btns-green {
    display: none;
  }
}
